.tourist-spot-result-title {
    margin-bottom: 32px;
}

.tourist-spots-wrapper,
.new-tourist-spots-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tourist-spot {
    display: flex;
    margin-right: 24px;
    margin-bottom: 16px;
    background: var(--white);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.tourist-spot-text {
    padding-top: 24px;
}

.tourist-spot-image {
    border-radius: 10px;
    min-height: 212px;
    max-height: 260px;
    width: 288px;
    margin-right: 24px;
}

.tourist-spot-title {
    min-height: 60px;
    margin-bottom: 8px;
    line-height: 28px;
}

.tourist-spot-description {
    color: var(--gray-500);
    line-height: 24px;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .tourist-spots-wrapper,
    .new-tourist-spots-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .tourist-spot {
        flex-direction: column;
        margin-right: 0;
        align-items: center;
    }

    .tourist-spot-text {
        width: 100%;
        text-align: left;
        padding: 52px;
    }

    .tourist-spot-title {
        min-height: 60px;
        height: auto;
    }

    .tourist-spot-image {
        max-height: 212px;
        margin-right: 0;
    }
}